.App{
  text-align: center;
  background-color: salmon;
}
.result{
  background-color: cyan;
  padding: 50px;
}
.Control{
  background-color: salmon;
  padding: 40px;
}
.button{
  width: 10%;
  padding: 5px;

}
.Control input{
  line-height: 30px;
  width: 50%;
  margin: 10px;
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
